<div class="card-suits-background absolute inset-0 pointer-events-none">
    <div class="suit-spade absolute text-5xl md:text-6xl text-black opacity-10 animate-float-1">♠</div>
    <div class="suit-heart absolute text-5xl md:text-6xl text-red-500 opacity-10 animate-float-2">♥</div>
    <div class="suit-diamond absolute text-5xl md:text-6xl text-red-500 opacity-10 animate-float-3">♦</div>
    <div class="suit-club absolute text-5xl md:text-6xl text-black opacity-10 animate-float-4">♣</div>
    <div class="suit-spade absolute text-5xl md:text-6xl text-black opacity-10 animate-float-5">♠</div>
    <div class="suit-heart absolute text-5xl md:text-6xl text-red-500 opacity-10 animate-float-6">♥</div>
    <div class="suit-diamond absolute text-5xl md:text-6xl text-red-500 opacity-10 animate-float-7">♦</div>
    <div class="suit-club absolute text-5xl md:text-6xl text-black opacity-10 animate-float-8">♣</div>
    <div class="suit-spade absolute text-5xl md:text-6xl text-black opacity-10 animate-float-9">♠</div>
    <div class="suit-heart absolute text-5xl md:text-6xl text-red-500 opacity-10 animate-float-10">♥</div>
    <div class="suit-diamond absolute text-5xl md:text-6xl text-red-500 opacity-10 animate-float-11">♦</div>
    <div class="suit-club absolute text-5xl md:text-6xl text-black opacity-10 animate-float-12">♣</div>
</div>