---
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		
		<meta name="generator" content={Astro.generator} />
		<title>Juga y Gana</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
		
		<link rel="icon" type="image/png" sizes="32x32" href="/32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/16.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/96.png">
	</head>
	<body>
		<slot/>
	</body>
</html>
